-- MySQL dump 10.13  Distrib 8.0.45, for Win64 (x86_64)
--
-- Host: localhost    Database: foodflow_db
-- ------------------------------------------------------
-- Server version	8.0.45

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `addresses`
--

DROP TABLE IF EXISTS `addresses`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `addresses` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `address_line` varchar(255) NOT NULL,
  `city` varchar(255) NOT NULL,
  `is_default` bit(1) NOT NULL,
  `label` varchar(255) DEFAULT NULL,
  `pincode` varchar(255) DEFAULT NULL,
  `user_id` bigint NOT NULL,
  `latitude` double DEFAULT NULL,
  `longitude` double DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `FK1fa36y2oqhao3wgg2rw1pi459` (`user_id`),
  CONSTRAINT `FK1fa36y2oqhao3wgg2rw1pi459` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=8 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `addresses`
--

LOCK TABLES `addresses` WRITE;
/*!40000 ALTER TABLE `addresses` DISABLE KEYS */;
INSERT INTO `addresses` VALUES (1,'45 Park Street','Delhi',_binary '\0','Home','110002',4,28.7041,77.1025),(2,'45 Park Street','Delhi',_binary '\0','Home','110002',6,28.7041,77.1025),(3,'45 Park Street','Delhi',_binary '\0','Home','110002',8,28.7041,77.1025),(4,'45 Park Street','Delhi',_binary '\0','Home','110002',11,28.7041,77.1025),(5,'45 Park Street','Delhi',_binary '\0','Home','110002',12,28.7041,77.1025),(6,'45 Park Street','Delhi',_binary '\0','Home','110002',14,28.7041,77.1025),(7,'ABC','Delhi',_binary '\0','Home','111111',17,28.7041,77.1025);
/*!40000 ALTER TABLE `addresses` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `cart_items`
--

DROP TABLE IF EXISTS `cart_items`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `cart_items` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `quantity` int NOT NULL,
  `customer_id` bigint NOT NULL,
  `food_item_id` bigint NOT NULL,
  `restaurant_id` bigint NOT NULL,
  PRIMARY KEY (`id`),
  KEY `FKstvfmrq4hk9go8cd0yq27kcqk` (`customer_id`),
  KEY `FKjr4thtqm8skn4hjhlv3phxbbm` (`food_item_id`),
  KEY `FKqckg632wmu8q7ibugt3dwf3yk` (`restaurant_id`),
  CONSTRAINT `FKjr4thtqm8skn4hjhlv3phxbbm` FOREIGN KEY (`food_item_id`) REFERENCES `food_items` (`id`),
  CONSTRAINT `FKqckg632wmu8q7ibugt3dwf3yk` FOREIGN KEY (`restaurant_id`) REFERENCES `restaurants` (`id`),
  CONSTRAINT `FKstvfmrq4hk9go8cd0yq27kcqk` FOREIGN KEY (`customer_id`) REFERENCES `users` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=59 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `cart_items`
--

LOCK TABLES `cart_items` WRITE;
/*!40000 ALTER TABLE `cart_items` DISABLE KEYS */;
INSERT INTO `cart_items` VALUES (1,2,4,1,1);
/*!40000 ALTER TABLE `cart_items` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `coupon_usage`
--

DROP TABLE IF EXISTS `coupon_usage`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `coupon_usage` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `used_at` datetime(6) DEFAULT NULL,
  `coupon_id` bigint NOT NULL,
  `order_id` bigint NOT NULL,
  `user_id` bigint NOT NULL,
  PRIMARY KEY (`id`),
  KEY `FKof9h3rw1vu403j5dbehr45ts2` (`coupon_id`),
  KEY `FKejqwoh58dj8l7apjqo75crp88` (`order_id`),
  KEY `FKcsx5pbxjnp6jvuveb3lxyklhe` (`user_id`),
  CONSTRAINT `FKcsx5pbxjnp6jvuveb3lxyklhe` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`),
  CONSTRAINT `FKejqwoh58dj8l7apjqo75crp88` FOREIGN KEY (`order_id`) REFERENCES `orders` (`id`),
  CONSTRAINT `FKof9h3rw1vu403j5dbehr45ts2` FOREIGN KEY (`coupon_id`) REFERENCES `coupons` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=15 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `coupon_usage`
--

LOCK TABLES `coupon_usage` WRITE;
/*!40000 ALTER TABLE `coupon_usage` DISABLE KEYS */;
INSERT INTO `coupon_usage` VALUES (4,'2026-07-23 07:17:06.557777',1,16,17),(5,'2026-07-23 07:28:46.873503',2,17,17),(6,'2026-07-23 07:36:40.465576',1,18,17),(7,'2026-07-23 07:44:28.170496',1,20,17),(8,'2026-07-23 07:47:22.058772',2,21,17),(9,'2026-07-23 07:48:34.807203',2,22,17),(10,'2026-07-24 06:52:18.521382',2,23,17),(11,'2026-07-28 09:03:20.369297',2,25,17),(12,'2026-07-29 06:16:34.858286',1,26,17),(13,'2026-07-30 05:41:28.975136',2,27,17),(14,'2026-07-30 05:46:39.012921',1,28,17);
/*!40000 ALTER TABLE `coupon_usage` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `coupons`
--

DROP TABLE IF EXISTS `coupons`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `coupons` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `active` bit(1) NOT NULL,
  `code` varchar(255) NOT NULL,
  `description` varchar(255) DEFAULT NULL,
  `discount_type` enum('FLAT','PERCENTAGE') NOT NULL,
  `discount_value` decimal(38,2) NOT NULL,
  `expiry_date` date NOT NULL,
  `first_order_only` bit(1) NOT NULL,
  `max_discount_amount` decimal(38,2) DEFAULT NULL,
  `min_bill_amount` decimal(38,2) DEFAULT NULL,
  `usage_count` int DEFAULT NULL,
  `usage_limit` int DEFAULT NULL,
  `restaurant_id` bigint DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `UKeplt0kkm9yf2of2lnx6c1oy9b` (`code`),
  KEY `FKbeu0hws89mcmixcll2ggn4udw` (`restaurant_id`),
  CONSTRAINT `FKbeu0hws89mcmixcll2ggn4udw` FOREIGN KEY (`restaurant_id`) REFERENCES `restaurants` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `coupons`
--

LOCK TABLES `coupons` WRITE;
/*!40000 ALTER TABLE `coupons` DISABLE KEYS */;
INSERT INTO `coupons` VALUES (1,_binary '','SAVE20','20% off','PERCENTAGE',20.00,'2026-12-31',_binary '\0',100.00,200.00,7,100,NULL),(2,_binary '','WELCOME10','Get upto 10% off','PERCENTAGE',10.00,'2026-12-31',_binary '\0',NULL,100.00,7,NULL,NULL);
/*!40000 ALTER TABLE `coupons` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `delivery_agent_profiles`
--

DROP TABLE IF EXISTS `delivery_agent_profiles`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `delivery_agent_profiles` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `busy` bit(1) NOT NULL,
  `current_latitude` double DEFAULT NULL,
  `current_longitude` double DEFAULT NULL,
  `online` bit(1) NOT NULL,
  `total_earnings` decimal(38,2) DEFAULT NULL,
  `user_id` bigint NOT NULL,
  `average_rating` double DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `UK5dp44er6y4brlxxscib235eor` (`user_id`),
  CONSTRAINT `FKsjwpno61f1r52poy8wmy9uo29` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=9 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `delivery_agent_profiles`
--

LOCK TABLES `delivery_agent_profiles` WRITE;
/*!40000 ALTER TABLE `delivery_agent_profiles` DISABLE KEYS */;
INSERT INTO `delivery_agent_profiles` VALUES (1,_binary '',28.62,77.21,_binary '',0.00,5,NULL),(2,_binary '\0',28.62,77.21,_binary '\0',0.00,7,NULL),(3,_binary '',28.62,77.21,_binary '',102.21,9,NULL),(4,_binary '\0',28.62,77.21,_binary '\0',0.00,13,0),(5,_binary '',28.62,77.21,_binary '',102.21,15,5),(6,_binary '',28.62,77.21,_binary '',204.42,18,5),(7,_binary '\0',28.62,77.21,_binary '',608.26,20,4.5),(8,_binary '\0',NULL,NULL,_binary '\0',0.00,22,0);
/*!40000 ALTER TABLE `delivery_agent_profiles` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `favorites`
--

DROP TABLE IF EXISTS `favorites`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `favorites` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `created_at` datetime(6) DEFAULT NULL,
  `restaurant_id` bigint NOT NULL,
  `user_id` bigint NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `UKondol6dsj2oaeno5aui8hnmg3` (`user_id`,`restaurant_id`),
  KEY `FKntby5i9ckfbhd9spu3x1ef5oo` (`restaurant_id`),
  CONSTRAINT `FKk7du8b8ewipawnnpg76d55fus` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`),
  CONSTRAINT `FKntby5i9ckfbhd9spu3x1ef5oo` FOREIGN KEY (`restaurant_id`) REFERENCES `restaurants` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `favorites`
--

LOCK TABLES `favorites` WRITE;
/*!40000 ALTER TABLE `favorites` DISABLE KEYS */;
INSERT INTO `favorites` VALUES (1,'2026-07-28 06:43:45.524653',24,17);
/*!40000 ALTER TABLE `favorites` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `food_categories`
--

DROP TABLE IF EXISTS `food_categories`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `food_categories` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `name` varchar(255) NOT NULL,
  `restaurant_id` bigint NOT NULL,
  PRIMARY KEY (`id`),
  KEY `FKfta4qxjexoafe9k4pvnq1om8n` (`restaurant_id`),
  CONSTRAINT `FKfta4qxjexoafe9k4pvnq1om8n` FOREIGN KEY (`restaurant_id`) REFERENCES `restaurants` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=50 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `food_categories`
--

LOCK TABLES `food_categories` WRITE;
/*!40000 ALTER TABLE `food_categories` DISABLE KEYS */;
INSERT INTO `food_categories` VALUES (38,'Sushi and Rolls',22),(39,'Ramen and Mains',22),(40,'Korean Favorites',23),(41,'Sides and Snacks',23),(42,'Starters',24),(43,'Mains',24),(44,'Curries',25),(45,'Breads and Sides',25),(46,'Tiffin',26),(47,'Mains',26),(48,'Burgers',27),(49,'Sides and Shakes',27);
/*!40000 ALTER TABLE `food_categories` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `food_ingredients`
--

DROP TABLE IF EXISTS `food_ingredients`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `food_ingredients` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `quantity_required` double NOT NULL,
  `food_item_id` bigint NOT NULL,
  `ingredient_id` bigint NOT NULL,
  PRIMARY KEY (`id`),
  KEY `FKplk800h9baierm40eqevixgfa` (`food_item_id`),
  KEY `FKhgobvtla0j59kdok3qm4ktl1b` (`ingredient_id`),
  CONSTRAINT `FKhgobvtla0j59kdok3qm4ktl1b` FOREIGN KEY (`ingredient_id`) REFERENCES `ingredients` (`id`),
  CONSTRAINT `FKplk800h9baierm40eqevixgfa` FOREIGN KEY (`food_item_id`) REFERENCES `food_items` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `food_ingredients`
--

LOCK TABLES `food_ingredients` WRITE;
/*!40000 ALTER TABLE `food_ingredients` DISABLE KEYS */;
/*!40000 ALTER TABLE `food_ingredients` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `food_items`
--

DROP TABLE IF EXISTS `food_items`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `food_items` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `available` bit(1) NOT NULL,
  `created_at` datetime(6) DEFAULT NULL,
  `description` varchar(255) DEFAULT NULL,
  `image_url` varchar(255) DEFAULT NULL,
  `name` varchar(255) NOT NULL,
  `price` decimal(38,2) NOT NULL,
  `veg` bit(1) NOT NULL,
  `category_id` bigint NOT NULL,
  `restaurant_id` bigint NOT NULL,
  `average_rating` double DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `FKkbih0j8307q4itpu7vr13jrf9` (`category_id`),
  KEY `FK1f3re9f14rtkoyghyuhx3cv9l` (`restaurant_id`),
  CONSTRAINT `FK1f3re9f14rtkoyghyuhx3cv9l` FOREIGN KEY (`restaurant_id`) REFERENCES `restaurants` (`id`),
  CONSTRAINT `FKkbih0j8307q4itpu7vr13jrf9` FOREIGN KEY (`category_id`) REFERENCES `food_categories` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=200 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `food_items`
--

LOCK TABLES `food_items` WRITE;
/*!40000 ALTER TABLE `food_items` DISABLE KEYS */;
/*!40000 ALTER TABLE `food_items` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `ingredients`
--

DROP TABLE IF EXISTS `ingredients`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `ingredients` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `name` varchar(255) NOT NULL,
  `quantity_available` double NOT NULL,
  `unit` varchar(255) NOT NULL,
  `restaurant_id` bigint NOT NULL,
  PRIMARY KEY (`id`),
  KEY `FKspy5soghmv48ax8dqgplf290j` (`restaurant_id`),
  CONSTRAINT `FKspy5soghmv48ax8dqgplf290j` FOREIGN KEY (`restaurant_id`) REFERENCES `restaurants` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `ingredients`
--

LOCK TABLES `ingredients` WRITE;
/*!40000 ALTER TABLE `ingredients` DISABLE KEYS */;
/*!40000 ALTER TABLE `ingredients` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `notifications`
--

DROP TABLE IF EXISTS `notifications`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `notifications` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `created_at` datetime(6) DEFAULT NULL,
  `is_read` bit(1) NOT NULL,
  `message` varchar(255) NOT NULL,
  `title` varchar(255) NOT NULL,
  `type` enum('DELIVERED','GENERAL','ORDER_ACCEPTED','ORDER_CONFIRMED','OUT_FOR_DELIVERY','PREPARING') NOT NULL,
  `user_id` bigint NOT NULL,
  PRIMARY KEY (`id`),
  KEY `FK9y21adhxn0ayjhfocscqox7bh` (`user_id`),
  CONSTRAINT `FK9y21adhxn0ayjhfocscqox7bh` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=93 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `notifications`
--

LOCK TABLES `notifications` WRITE;
/*!40000 ALTER TABLE `notifications` DISABLE KEYS */;
/*!40000 ALTER TABLE `notifications` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `order_items`
--

DROP TABLE IF EXISTS `order_items`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `order_items` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `food_name_snapshot` varchar(255) NOT NULL,
  `price_at_order_time` decimal(38,2) NOT NULL,
  `quantity` int NOT NULL,
  `food_item_id` bigint NOT NULL,
  `order_id` bigint NOT NULL,
  PRIMARY KEY (`id`),
  KEY `FKbmnfj15j0ngros6mbdx7q5c01` (`food_item_id`),
  KEY `FKbioxgbv59vetrxe0ejfubep1w` (`order_id`),
  CONSTRAINT `FKbioxgbv59vetrxe0ejfubep1w` FOREIGN KEY (`order_id`) REFERENCES `orders` (`id`),
  CONSTRAINT `FKbmnfj15j0ngros6mbdx7q5c01` FOREIGN KEY (`food_item_id`) REFERENCES `food_items` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=52 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `order_items`
--

LOCK TABLES `order_items` WRITE;
/*!40000 ALTER TABLE `order_items` DISABLE KEYS */;
/*!40000 ALTER TABLE `order_items` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `order_rejected_agents`
--

DROP TABLE IF EXISTS `order_rejected_agents`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `order_rejected_agents` (
  `order_id` bigint NOT NULL,
  `agent_id` bigint DEFAULT NULL,
  KEY `FK6j4fhhu6ukv1i3ip9gw1ryf20` (`order_id`),
  CONSTRAINT `FK6j4fhhu6ukv1i3ip9gw1ryf20` FOREIGN KEY (`order_id`) REFERENCES `orders` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `order_rejected_agents`
--

LOCK TABLES `order_rejected_agents` WRITE;
/*!40000 ALTER TABLE `order_rejected_agents` DISABLE KEYS */;
/*!40000 ALTER TABLE `order_rejected_agents` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `orders`
--

DROP TABLE IF EXISTS `orders`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `orders` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `created_at` datetime(6) DEFAULT NULL,
  `delivery_address_line` varchar(255) DEFAULT NULL,
  `delivery_charge` decimal(38,2) NOT NULL,
  `delivery_city` varchar(255) DEFAULT NULL,
  `delivery_pincode` varchar(255) DEFAULT NULL,
  `grand_total` decimal(38,2) NOT NULL,
  `items_total` decimal(38,2) NOT NULL,
  `status` enum('ACCEPTED','CANCELLED','DELIVERED','ON_THE_WAY','PICKED_UP','PLACED','PREPARING','READY_FOR_PICKUP','REJECTED') NOT NULL,
  `updated_at` datetime(6) DEFAULT NULL,
  `customer_id` bigint NOT NULL,
  `restaurant_id` bigint NOT NULL,
  `agent_confirmed` bit(1) NOT NULL,
  `agent_earning` decimal(38,2) DEFAULT NULL,
  `distance_km` double DEFAULT NULL,
  `eta_minutes` int DEFAULT NULL,
  `surge_multiplier` decimal(38,2) DEFAULT NULL,
  `delivery_agent_id` bigint DEFAULT NULL,
  `applied_coupon_code` varchar(255) DEFAULT NULL,
  `discount_amount` decimal(38,2) DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `FKsjfs85qf6vmcurlx43cnc16gy` (`customer_id`),
  KEY `FK2m9qulf12xm537bku3jnrrbup` (`restaurant_id`),
  KEY `FKgdr6mf6gyc66i584kcs08nman` (`delivery_agent_id`),
  CONSTRAINT `FK2m9qulf12xm537bku3jnrrbup` FOREIGN KEY (`restaurant_id`) REFERENCES `restaurants` (`id`),
  CONSTRAINT `FKgdr6mf6gyc66i584kcs08nman` FOREIGN KEY (`delivery_agent_id`) REFERENCES `users` (`id`),
  CONSTRAINT `FKsjfs85qf6vmcurlx43cnc16gy` FOREIGN KEY (`customer_id`) REFERENCES `users` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=32 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `orders`
--

LOCK TABLES `orders` WRITE;
/*!40000 ALTER TABLE `orders` DISABLE KEYS */;
/*!40000 ALTER TABLE `orders` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `payments`
--

DROP TABLE IF EXISTS `payments`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `payments` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `amount` decimal(38,2) NOT NULL,
  `created_at` datetime(6) DEFAULT NULL,
  `method` enum('CARD','CASH_ON_DELIVERY','UPI','WALLET') NOT NULL,
  `status` enum('FAILED','PENDING','REFUNDED','SUCCESS') NOT NULL,
  `transaction_ref` varchar(255) DEFAULT NULL,
  `order_id` bigint NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `UK8vo36cen604as7etdfwmyjsxt` (`order_id`),
  CONSTRAINT `FK81gagumt0r8y3rmudcgpbk42l` FOREIGN KEY (`order_id`) REFERENCES `orders` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=27 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `payments`
--

LOCK TABLES `payments` WRITE;
/*!40000 ALTER TABLE `payments` DISABLE KEYS */;
/*!40000 ALTER TABLE `payments` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `ratings`
--

DROP TABLE IF EXISTS `ratings`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `ratings` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `created_at` datetime(6) DEFAULT NULL,
  `review_text` varchar(255) DEFAULT NULL,
  `stars` int NOT NULL,
  `target_id` bigint NOT NULL,
  `target_type` enum('DELIVERY_AGENT','FOOD_ITEM','RESTAURANT') NOT NULL,
  `customer_id` bigint NOT NULL,
  `order_id` bigint NOT NULL,
  PRIMARY KEY (`id`),
  KEY `FKl4khx88jtvmxkvnt3elik528p` (`customer_id`),
  KEY `FKu2smk2142p4u673g5h2w419l` (`order_id`),
  CONSTRAINT `FKl4khx88jtvmxkvnt3elik528p` FOREIGN KEY (`customer_id`) REFERENCES `users` (`id`),
  CONSTRAINT `FKu2smk2142p4u673g5h2w419l` FOREIGN KEY (`order_id`) REFERENCES `orders` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=28 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `ratings`
--

LOCK TABLES `ratings` WRITE;
/*!40000 ALTER TABLE `ratings` DISABLE KEYS */;
/*!40000 ALTER TABLE `ratings` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `restaurants`
--

DROP TABLE IF EXISTS `restaurants`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `restaurants` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `address_line` varchar(255) DEFAULT NULL,
  `average_rating` double DEFAULT NULL,
  `city` varchar(255) DEFAULT NULL,
  `closing_time` time(6) DEFAULT NULL,
  `created_at` datetime(6) DEFAULT NULL,
  `cuisine_type` varchar(255) DEFAULT NULL,
  `description` varchar(255) DEFAULT NULL,
  `name` varchar(255) NOT NULL,
  `opening_time` time(6) DEFAULT NULL,
  `pincode` varchar(255) DEFAULT NULL,
  `status` enum('BUSY','CLOSED','HOLIDAY','OPEN') NOT NULL,
  `owner_id` bigint NOT NULL,
  `avg_prep_time_minutes` int DEFAULT NULL,
  `latitude` double DEFAULT NULL,
  `longitude` double DEFAULT NULL,
  `image_url` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `FKp5mmmypepihvmkdb83qwugr4d` (`owner_id`),
  CONSTRAINT `FKp5mmmypepihvmkdb83qwugr4d` FOREIGN KEY (`owner_id`) REFERENCES `users` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=28 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `restaurants`
--

LOCK TABLES `restaurants` WRITE;
/*!40000 ALTER TABLE `restaurants` DISABLE KEYS */;
/*!40000 ALTER TABLE `restaurants` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `users`
--

DROP TABLE IF EXISTS `users`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `users` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `banned` bit(1) NOT NULL,
  `created_at` datetime(6) DEFAULT NULL,
  `email` varchar(255) NOT NULL,
  `enabled` bit(1) NOT NULL,
  `name` varchar(255) NOT NULL,
  `password` varchar(255) NOT NULL,
  `phone_number` varchar(255) DEFAULT NULL,
  `role` enum('ADMIN','CUSTOMER','DELIVERY_AGENT','RESTAURANT_OWNER') NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `UK6dotkott2kjsp8vw4d0m25fb7` (`email`)
) ENGINE=InnoDB AUTO_INCREMENT=24 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `users`
--

LOCK TABLES `users` WRITE;
/*!40000 ALTER TABLE `users` DISABLE KEYS */;
/*!40000 ALTER TABLE `users` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-08-05 11:59:39
